RewriteEngine On

# Remove .php extension
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.*)$ $1.php [L]

# Protect sensitive files
<FilesMatch "\.(env|sql)$">
  Require all denied
</FilesMatch>

# Block database folder
RewriteRule ^database/ - [F,L]
